In [1]:
import requests
from bs4 import BeautifulSoup
import psycopg2

class CountrySalary:
    def __init__(self, country, monthly_salary):
        self.country = country
        self.monthly_salary = monthly_salary
    
    def __repr__(self):
        return f"Country: {self.country}, Monthly Salary: {self.monthly_salary}"

# Função para verificar e tratar os salários
def process_salary(salary_text):
    if salary_text:
        # Remove símbolos de dólar e vírgulas
        salary_text = salary_text.replace('$', '').replace(',', '')
        try:
            salary = float(salary_text)  # Tenta converter para float
            return salary
        except ValueError:
            return None  # Se falhar na conversão, retorna None
    return None  # Caso o texto seja vazio ou inválido

# Função para extrair os dados da página da Wikipedia
# Função para extrair os dados da página da Wikipedia
def get_country_salaries(url):
    # Fazer a requisição para a página
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    # Encontrar a tabela com os dados
    table = soup.find('table', {'class': 'wikitable'})

    # Lista para armazenar os objetos CountrySalary
    country_salaries = []

    # Iterar pelas linhas da tabela
    for row in table.find_all('tr')[1:]:  # Ignorar a primeira linha (cabeçalho)
        cells = row.find_all('td')
        if len(cells) > 1:
            # Limpar o nome do país e remover o '*' se existir
            country = cells[0].get_text(strip=True).replace('*', '')  # Remover o asterisco
            salary_text = cells[2].get_text(strip=True)
            salary = process_salary(salary_text)
            # Cria um objeto CountrySalary e adiciona à lista
            country_salaries.append(CountrySalary(country, salary))

    return country_salaries

In [8]:




# Função para salvar os dados no PostgreSQL
def save_to_postgresql(country_salaries):
    # Configuração da conexão com o banco de dados PostgreSQL
    connection =  connection = psycopg2.connect(
        host="26.84.71.27",       
        database="DataScienceProj",
        user="postgres",     
        password="SteamDB",    
        port="5432",
        options="-c client_encoding=UTF8" 
    )
    cursor = connection.cursor()
    
    # # Inserir os dados na tabela
    for country_salary in country_salaries:
        print(country_salary.country)
        # Vinculando o país com o banco de dados
        cursor.execute("SELECT id FROM public.country WHERE upper(country_name) = upper(%s)", (country_salary.country,))
        resultado = cursor.fetchone()

        if resultado:
            pais_id = resultado[0]
            print(pais_id)
    #     # Tratamento de dados nulos antes de salvar
            cursor.execute("""
            INSERT INTO salary.country_salary (m_salary, country_id)
            VALUES (%s, %s);
            """, (country_salary.monthly_salary, pais_id))
            connection.commit()

        # Commit para garantir que os dados sejam salvos

    # # Fechar a conexão
    cursor.close()
    connection.close()

# URL de exemplo para salários mensais
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage'

# Obter os salários dos países
country_salaries = get_country_salaries(url)

# Exibir os dados extraídos para verificação
# for country_salary in country_salaries:
#     print(country_salary)

# Salvar os dados no PostgreSQL
save_to_postgresql(country_salaries)

Afghanistan
652230
Albania
28748
Algeria
2381741
Andorra
468
Angola
1246700
Antigua and Barbuda
442
Argentina
2780400
Armenia
29743
Australia
7692024
Austria
83871
Azerbaijan
86600
The Bahamas
Bahrain
765
Bangladesh
147570
Barbados
430
Belarus
207600
Belgium
30528
Belize
22966
Benin
112622
Bhutan
38394
Bolivia
1098581
Bosnia and Herzegovina
51209
Botswana
582000
Brazil
8515767
Brunei
5765
Bulgaria
110879
Burkina Faso
272967
Burundi
27834
Cambodia
181035
Cameroon
475442
Canada
9984670
Cape Verde
4033
Central African Republic
622984
Chad
1284000
Chile
756102
China
9706961
Colombia
1141748
Comoros
1862
Democratic Republic of the Congo
Republic of the Congo
342000
Costa Rica
51100
Côte d'Ivoire
Croatia
56594
Cuba
109884
Cyprus
9251
Czech Republic
Denmark
43094
Djibouti
23200
Dominica
751
Dominican Republic
48671
Ecuador
276841
Egypt
1002450
El Salvador
21041
Equatorial Guinea
28051
Eritrea
117600
Estonia
45227
Eswatini
17364
Ethiopia
1104300
Federated States of Micronesia
Fiji
18272
Finland
338424
France
551695
Gabon
267668
The Gambia
Georgia
69700
Germany
357114
Ghana
238533
Greece
131990
Grenada
344
Guatemala
108889
Guernsey
78
Guinea
245857
Guinea-Bissau
36125
Guyana
214969
Haiti
27750
Honduras
112492
Hong Kong
1104
Hungary
93028
Iceland
103000
India
3287590
Indonesia
1904569
Iran
1648195
Iraq
438317
Ireland
70273
Isle of Man
572
Israel
20770
Italy
301336
Jamaica
10991
Japan
377930
Jersey
116
Jordan
89342
Kazakhstan
2724900
Kenya
580367
Kiribati
811
North Korea
120538
South Korea
100210
Kosovo
10908
Kuwait
17818
Kyrgyzstan
199951
Laos
236800
Latvia
64559
Lebanon
10452
Lesotho
30355
Liberia
111369
Libya
1759540
Liechtenstein
160
Lithuania
65300
Luxembourg
2586
Macau
30
Madagascar
587041
Malawi
118484
Malaysia
330803
Maldives
300
Mali
1240192
Malta
316
Marshall Islands
181
Mauritania
1030700
Mauritius
2040
Mexico
1964375
Moldova
33846
Monaco
2
Mongolia
1564110
Montenegro
13812
Morocco
446550
Mozambique
801590
Myanmar
676578
Namibia
825615
Nauru
Nepal
147181
Netherlands
41850
New Zealand
270467
Nicaragua
130373
Niger
1267000
Nigeria
923768
North Macedonia
25713
Northern Cyprus
Norway
323802
Oman
309500
Pakistan
881912
Palau
459
Palestine
6220
Panama
75417
Papua New Guinea
462840
Paraguay
406752
Peru
1285216
Philippines
342353
Poland
312679
Portugal
92090
Qatar
11586
Romania
238391
Russia
17098242
Rwanda
26338
Saint Kitts and Nevis
261
Saint Lucia
616
Saint Vincent and the Grenadines
389
Samoa
2842
San Marino
61
São Tomé and Príncipe
964
Saudi Arabia
2149690
Senegal
196722
Serbia
88361
Seychelles
452
Sierra Leone
71740
Singapore
710
Slovakia
49037
Slovenia
20273
Solomon Islands
28896
Somalia
637657
South Africa
1221037
South Sudan
619745
Spain
505992
Sri Lanka
65610
Sudan
1886068
Suriname
163820
Sweden
450295
Switzerland
41284
Syria
185180
Taiwan
36193
Tajikistan
143100
Tanzania
945087
Thailand
513120
Timor-Leste
14874
Togo
56785
Tonga
747
Trinidad and Tobago
5130
Tunisia
163610
Turkey
783562
Tuvalu
26
Uganda
241550
Ukraine
603500
United Arab Emirates
83600
United Kingdom
242900
United States
9372610
Uruguay
181034
Uzbekistan
447400
Vanuatu
12189
Venezuela
916445
Vietnam
331212
Yemen
527968
Zambia
752612
Zimbabwe
390757